@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #def5e5;
  min-width: 320px;
  font-family: "Patrick Hand", cursive;
}

#navbar {
  background-image: linear-gradient(to right, #bcead5, #8ec3b0);
  color: white;
  position: fixed;
  min-width: 320px;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 100%;
}

#navbar header {
  margin: 0.7rem 0.3rem;
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  border-top: 3px solid #cae9d7;
  list-style: none;
  width: 100%;
  position: relative;
  font-size: 1.75rem;
}

#navbar a {
  color: white;
  display: block;
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

#navbar a:hover {
  color: rgb(146, 175, 230);
}

#main-doc {
  width: calc(100% - 350px);
  margin-left: 350px;
  padding: 1rem;
}

.main-section {
  margin-top: 1rem;
  width: 100%;
}

.main-section header {
  font-size: 1.75rem;
  font-weight: bold;
}

.main-section p {
  font-size: 1.5rem;
  text-align: justify;
}

article {
  width: 100%;
}

figure {
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}

figcaption {
  padding-top: 0.75rem;
}

img {
  width: 90%;
  max-width: 500px;
}

.main-doc-img {
  width: 60%;
}

ol > li {
  font-size: 1.5rem;
}

.Note {
  background-color: #faf1e6;
  padding: 50px;
  border: 5px solid #8ec3b0;
  border-radius: 10px;
  width: 100%;
}

code {
  width: 90%;
  white-space: pre-line;
  position: relative;
  word-wrap: normal;
  word-break: normal;
  line-height: 1.5;
  background-color: #ddd;
}

xmp {
  background-color: #ddd;
  text-align: left;
  display: block;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
}

footer {
  margin-top: 2.75rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}

.cardfooter {
  background-color: black;
  text-align: center;
  line-height: 3.5rem;
  height: 3.5rem;
  width: 3.5rem;
  margin: 0.75rem;
  border-radius: 50%;
}

.cardfooter:hover {
  background-color: rgb(59, 59, 59);
  transform: scale(1.2);
  transition: 1s;
}

#References li a {
  font-size: 1.5rem;
}

@media (max-width: 850px) {
  #navbar ul {
    border: 1px solid;
    height: 210px;
  }

  #navbar li {
    border-top: 1px solid rgb(228, 228, 228);
  }

  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 1px solid;
  }

  #main-doc {
    position: absolute;
    width: 100%;
    margin: 0px auto;
    margin-top: 260px;
  }

  .main-doc-img {
    width: 90%;
  }
}
